<p>{{idArticulo}}</p>
<p *ngIf="!articulo">{{idArticulo}}</p>

<div class="card-rows">
    <div class="card col-3" *ngIf="articulo">
        ASDSADSADADA
        <img class="card-img-top" src="{{articulo.getImagen()}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{articulo.getNombre()}}</h5>
            <p class="precio">{{articulo.getPrecio() | currency:'EUR':true}}</p>
        </div>
        <div class="favorito" *ngIf="articulo.isFav()"><i class="fa-solid fa-heart fa-2xl"></i></div>
        <div class="favorito"><i class="fa-regular fa-heart fa-2xl"></i></div>
    </div>
</div>

