.card-deck{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    .card{
        border: none;
        align-items: center;
        .card-img-top{
            width: 70%;
            height: 300px;
        }
    }
    .card:hover{
        cursor: pointer;
    }
}

.titulo{
    text-align: center;
    margin-top: 80px;
    text-decoration: underline;
}